

.chats-list
  .searchWrapperEA
    margin-top : $r
#simpleSearch
  margin-left: 0.5 * $r
  margin-right: 0.5 * $r
.removeRoom
  width: 62px
  height: 100%
  background: srgb(--color-bad)
  border-radius: 3px
  i
    color: white

.chatsearchingempty
  padding : 4 * $r
  text-align: center

  span
    font-size: 1.5em
    font-weight: 100

.generatekeys,
.inviteUserDiv
    margin-top: 0.5em
    margin-bottom: 1em

    .generatekeysButton,
    .inviteButton
      background-color: srgb(--color-bg-orange)
      color: white
      width: 100%
      height: 34px
      font-size: 0.9em
      border-radius: 30px
      position: relative
      cursor: pointer

      i
        position : absolute
        right : 0
        top : 0
        line-height : 34px
        width : 50px
        text-align : center


.desktopList
  .card-content
    position: absolute
    width: 100%
    left : 0
    right: 0
    height: 60px

.bout
  .desktopList
    .card-content
      height: 70px
      contain: strict

.selectedForShare
  background: srgba(--color-shadow-base, 0.8)!important

  .paddingwrapper
    position: absolute
    left : 50px
    top : 100px
    bottom : 100px
    right : 50px
    overflow: hidden
    border-radius: 50%

    .chatwrapper
      position: absolute
      background: srgb(--background-total-theme)
      left : -50px
      top : -100px
      bottom : -100px
      right : -50px

  /deep/ .chatInputWrapper
    display: none

.previewWrapper

  &:nth-last-child(1)
    border-bottom: 0

.swipeout-list
  display: flex
  flex-direction: column

.unauthorized,
.startnewchat
  padding : 4 * $r 0
  text-align: center

.unauthorized,
.startnewchat
  .buttonWrapper
    padding : 2 * $r
  .captionWrapper
    padding : 2 * $r
    text-align: center
    span
      font-size: 1.5em
      font-weight: 100


.card
  width: 100%
  border-radius: 3px

.inviteUserDivWrapper
  +transition(0.3s)

.chats-list
  &.minimized
    &:not(.active)
      .unauthorized
        display: none
      .startnewchat
        display: none
      .inviteUserDivWrapper
        display: none

.unauthorized.minimized:not(.active)
  display: none


.list-enter-active,
.list-leave-active
  transition: all 0.5s ease

.list-enter-from,
.list-leave-to
  opacity: 0
  transform: translateX(30px)


.fade-enter-active,
.fade-leave-active
  transition: opacity 0.3s ease


.fade-enter-from,
.fade-leave-to 
  opacity: 0
