.inSettings
  margin: 30px auto
  display: block
.chatIconWrapper
  width : 120px
  margin : 0 auto
.linkPlace
  margin-top: 30px
  padding: $r 0
  cursor: pointer
  border-top: 1px solid srgb(--background-main)
  span
    font-size: 1em
    display: block
    text-align: left
    max-width: 400px
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
  .shareLink
    &:hover
      color: srgb(--color-txt-ac)

.chatSettingAbout
  padding: .5em 1em
  .chatNameEdit
    margin-top: 20px
    input
      padding: $r 0
      display: block
      width: 100%
      border-bottom: 1px solid srgb(--neutral-grad-1)
      border-top: 1px solid srgb(--neutral-grad-1)
      &:focus
       border-bottom: 1px solid srgb(--neutral-grad-1)
       border-top: 1px solid srgb(--neutral-grad-1)

  .chatDescription
    textarea
      font-size: 0.9em
      display: block
      width: 100%
      resize: none
      padding: $r 0