video {
  height: 100px;
}
.form {
  width: 200px;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 50%;
  top: 50%;
  background: srgb(--background-secondary-theme);

  .title {
    width: 100%;
    font-size: 14px;
    line-height: 14px;
  }

}