.chatswrapper
    padding-top: 0.5 * $r

.section-title
    background: srgb(--background-secondary-theme)
    color: srgb(--text-color)
    margin: $r 0
    padding: $r $r
    width: 100%
    text-align: center
    span
        font-size: 0.8em
        font-weight: 700


.contact
    cursor: pointer

.show-more
    text-align: center

    & a
        color: #00A4FF


.preloaderWrapperLine
    text-align: center
    padding : 2 * $r

.empty
    margin-top: 4 * $r
    text-align: center
    padding : 2 * $r

    span
        font-size: 2em
        font-weight: 100