.chatswrapper
    padding-top: $r / 2

.section-title
    background: srgb(--background-secondary-theme)
    color: srgb(--text-color)
    margin: $r 0
    padding: $r $r
    width: 100%
    text-align: center
    span
        font-size: 0.8em
        font-weight: 700


.contact
    cursor: pointer

.show-more
    text-align: center

    & a
        color: #00A4FF
