
.userinfoWrapper
    height: 95%
    width : 100%
    padding: 4 * $r $r
    background: srgba(--background-main, 0.4)
    border-radius: 15px
    position: relative
    +shadowSmaller()
    
.previewWrapper
    .work
        padding-bottom : $r!important

.VueCarousel
    width : 100%
.filter
    background-color: srgba(--color-shadow-base, 0.2)!important