.minimized:not(.active)
    /deep/
        .roomActionsList
            display: none

        .chatIconWrapper
            width: 100%

        .aboutRoom  
            .roomInfoWrapper
                width: 52px
                background: transparent!important

            .nameline
                display: none

        .roomAccordionsList
            .accordion .aHeader .head
                padding : 2 * $r 0
                border-bottom: 0px!important

                i
                    text-align: center
                    width: 52px!important