.membersList
  list-style: none
  margin: 0
  padding: 0

  .roomMember
    padding: 2 * $r
    padding-right: 0
    display: flex
    align-items: center
    cursor: pointer
    justify-content: space-between
    border-bottom: 1px solid $color-bg-gen
    &:last-child
      border-bottom: 0



    &.invite
      //opacity: 0.6

    &:hover
      .leftWrapper
        .nameRole
          .name
            color: $color-text-slight
    .leftWrapper
      display: flex
      justify-content: flex-start
      align-items: center
      width: 90%

      .avatarNameWrapper
        display: flex
        justify-content: flex-start
        align-items: center
        width: 44px
        height: 44px
        font-size: 0.5em
        .avatar
          display: flex
          align-items: center
          justify-content: center
          width: 44px
          height: 44px
          border-radius: 50%
          background: $color-bg-gen
          line-height: 44px
          text-align: center
          font-size: 0.8em
          color: $color-text-light
          position: relative

          /deep/ .bgimage
            border-radius: 50%

          img
            display: block
            width: 100%
            height: 100%
            object-fit: cover
            border-radius: 50%


      .nameRole
        display: flex
        flex-direction: column
        align-items: flex-start
        justify-content: flex-start
        margin-left: 15px

        .memberRole
          font-size: 0.7em
          color: #919191

    .rightWrapper
      padding-right: $r
      /deep/ .icon 
        width: 100%
        text-align: center
      .adminActionsList
        .fa-caret-up
          font-size: 2em
          left: 0
          color: $color-bg-gen
          z-index: 99
          top: 10px

     
.invitedAvatar
    &:after
        content : ""
        position: absolute
        left : 0
        right : 0
        top : 0
        bottom : 0
        background: transparentize($color-text-common, 0.2)
        border-radius : 50%