.roomStatusView
  height: 50vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  .statusViewIcon
    i
      color: srgb(--color-txt-ac)
      font-size: 5em
  .text
    margin: 40px 0
    color: srgb(--color-txt-ac)