.searchWrapper
    display: flex
    overflow: hidden
    background: srgb(--background-secondary-theme)
    border-radius: 30px
    color : srgb(--neutral-grad-2)
    align-items: center

    .inputWrapper
        flex-grow: 1

        input
            padding : 1.5 * $r 2 * $r
            padding-right: 0
            width : 100%
            font-size: 0.9em

    .iconWrapper
        display: flex
        align-items: center
        justify-content: center
        text-align: center
        height: 20px
        width: 30px

        i
            font-size: 0.8em
            width: 100%

#search
    padding: 0 1em
    position: absolute
    top: 50%
    right: 0
    transform: translateY(-50%)
    width: 100%

    &.minimized
        &:not(.active)
                
            .searchWrapper
                
                border-radius: 0
                background: transparent
                padding : 0
                .inputWrapper
                    display: none

                .iconWrapper
                    text-align: center
                    width: 44px
                    height: 44px
                    line-height: 44px
                    padding : 0
                    border-radius: 50%
                    background: srgba(--color-txt-gray-dark, 0.4)
                    color : srgba(--color-txt-gray-dark, 0.8)
                    i
                        font-size: 0.8em

    &.collapsed
        display: unset
        padding: 0
        right: auto
        max-width: unset
        width: auto

        .searchWrapper
            background: none

            .inputWrapper,
            .matches
                overflow: hidden
                padding: 0
                width: 0

                input
                    padding: 0

            .iconWrapper
                width: auto

.searchWrapperEA #search
    display: block
    padding: 0 .5em
    position: static
    transform: none

.iconWrapper
    i
        cursor: pointer

.matches
    font-size: .8em
    padding: 0 1em

    -webkit-touch-callout: none
    -webkit-user-select: none
     -khtml-user-select: none
       -moz-user-select: none
        -ms-user-select: none
            user-select: none

    .current-match
        padding: 0 .5em

    .prev-match,
    .next-match
        cursor: pointer