.header
 
  &__back
    display: flex
    align-items: center
    flex-basis: 25%

    .icon
      font-size: 2.2em
      color: srgb(--neutral-grad-3)
      cursor: pointer

    &:hover
      color: srgb(--color-txt-ac)

  &__user-info
    flex-basis: 50%

  &__right-side
    flex-basis: 25%

