.call
	font-size: 0.8em
	outline: none
	position: relative
	-webkit-tap-highlight-color: transparent

	&.disabled
		color: srgb(--neutral-grad-1)
		cursor: not-allowed
		&:after
			display: none
	&.wait
		color: srgb(--color-star-yellow)
		cursor: not-allowed
		&:after
			display: none

.tutorial-component 
	display: none
	position: absolute
	top: 55px
	right: 32px
	background-color: srgb(--color-bg-ac-bright)
	color: #fff
	padding: 5px 0
	border-radius: 6px
	text-align: left
	max-width: 300px
	min-width: 200px
	min-height: 50px
	padding: 10px
	z-index: 99999
	&.hide 
		display: none
	
	&.show 
		display: block
	
	> div 
		margin-right: 4px
	
	.action-menu 
		margin-top: 10px
		height: 30px
		border-top: 1px solid white

		.default-btn 
			background-color: white
			border: none
			padding: 0
			color: srgb(--color-bg-ac-bright)
			text-align: center
			text-decoration: none
			font-size: 13px
			margin: 4px 2px
			cursor: pointer
			border-radius: 8px
			
			&.next-btn 
				position: absolute
				right: 12px
				bottom: 4px
				cursor: pointer
				width: 50px
				height: 21px
				font-family: inherit
			
			&.skip-btn 
				position: absolute
				right: 133px
				bottom: 4px
				cursor: pointer
				width: 50px
				height: 21px
				font-family: inherit
			
			&.previous-btn 
				position: absolute
				left: 8px
				bottom: 4px
				cursor: pointer
				width: 58px
				height: 21px
				font-family: inherit
			
	
	&.left 
		&:before,
		&:after 
		content: ""
		position: absolute
		width: 0
		height: 0
		border-style: solid
		border-color: transparent
		border-left: 0
		
		/* Stroke */
		&:before 
		bottom: 35%
		left: -12px
		/* If 1px darken stroke slightly */
		border-right-color: white
		border-width: 12px
		
		/* Fill */
		&:after 
		bottom: 35%
		left: -11px
		border-width: 12px
		
	
	&.right 
		/* Required for Triangle */
		&:before,
		&:after 
		content: ""
		position: absolute
		width: 0
		height: 0
		border-style: solid
		border-color: transparent
		border-right: 0
		
		/* Stroke */
		&:before 
		right: -12px
		bottom: 35%
		/* If 1px darken stroke slightly */
		border-left-color: white
		border-width: 12px
		
		/* Fill */
		&:after 
		right: -11px
		bottom: 35%
		border-left-color: white
		border-width: 12px
		
	
	&.up 
		/* Required for Triangle */
		&:before,
		&:after 
			content: ""
			position: absolute
			width: 0
			height: 0
			border-style: solid
			border-color: transparent
			border-top: 0
		
		/* Stroke */
		&:before 
			left: 75%
			bottom: 100%
			/* If 1px darken stroke slightly */
			border-bottom-color: srgb(--color-bg-ac-bright)
			border-width: 12px
		
		/* Fill */
		&:after 
			left: 75%
			bottom: 100%
			border-bottom-color: srgb(--color-bg-ac-bright)
			border-width: 12px
		
	
	&.down 
		/* Required for Triangle */
		&:before,
		&:after 
			content: ""
			position: absolute
			width: 0
			height: 0
			border-style: solid
			border-color: transparent
			border-bottom: 0
		
		/* Stroke */
		&:before 
			left: 80%
			top: 100%
			/* If 1px darken stroke slightly */
			border-top-color: white
			border-width: 12px
			
		/* Fill */
		&:after 
			left: 80%
			top: 100%
			border-top-color: white
			border-width: 12px
			
	


.nameWrapper
	display: flex
	align-items: flex-end
	justify-content: center
.roomMuted
	font-size: 0.4em
	width: 16px
	min-width: 16px
	text-align: center
	height: 16px
	line-height: 16px
	border-radius: 8px
	background: srgb(--neutral-grad-2)
	margin-left: $r
	margin-block: 0.5 * $r
	i
		color: srgb(--neutral-grad-1)

.editButton
	display: flex
	justify-content: center
	align-items: center

	i
		font-size: 1.5em

.nameline
	overflow: hidden
	white-space: nowrap
	text-overflow: ellipsis

/deep/
	.nameline
		max-width: 250px
		overflow: hidden
		white-space: nowrap
		text-overflow: ellipsis

/deep/
	#topheader
		z-index: 131

		&.minimized
			&.fix
				background: transparent
				overflow: inherit

/deep/
	#search
		padding-left: $r
		padding-right:  $r

.donationModalBody
	padding: 1em
	display: flex
	flex-direction: column

	span
		color: srgb(--color-txt-ac)

	input,
	select
		margin-top: 0.5em
		margin-bottom: 1.5em
		border: 1px solid srgb(--color-txt-ac)
		border-radius: 3px
		padding: .5em

		&.disabled
			color: srgb(--neutral-grad-2)
			border: 1px solid srgba(--neutral-grad-2, 0.5)

	button
		margin-top: 1em

		i
			margin-right: .2em

	.totalAmount
		font-weight: bold
		margin-left: .5em
		margin-top: .5em
		margin-bottom: 1em

	.error
		color: srgb(--color-bad)
		text-align: center

	.linepreloader
		text-align: center
		height: 29px
		margin-top: 1em

#simpleSearch
	.matches
		display: flex
		align-items: center
		height: 100%
		span,
		i
			font-size: 0.8em
			padding : $r

		i
			cursor: pointer

			&:hover
				color : srgb(--color-txt-ac)

.encrypted
	z-index: 2
	color: srgb(--color-good)
	padding: $r / 2 $r

	i
		font-size: 0.8em
		cursor: pointer

.encryptedInfo
	cursor: default
	margin-left: -25px
	position: absolute
	top: 50%
	transform: translateY(-50%)
	z-index: 9999
	display: flex
	justify-content: center
	align-items: center
	flex-direction: column
	#slide
		border-radius: 8px
		padding: 0 $r
		position: absolute
		left: 0
		background: $color-bg-clear
		-webkit-animation: slide 0.1s forwards
		-webkit-animation-delay: .3s
		animation: slide 0.1s forwards
		animation-delay: .3s
		+shadowSmaller()

	@-webkit-keyframes slide
		100%
		left: 0px
	@keyframes slide
		100%
			left: 0px

	button
		cursor: pointer
		display: flex
		align-items: center
		justify-content: flex-start
		text-align: left
		i
			margin-right: 5px

	.encryptedTxtIcon
		flex-direction: column
		align-items: center
		justify-content: center
		padding: $r / 2 $r / 2
		text-align: center
		span
			color: srgb(--color-good)
			font-size: 0.8em
		i
			color: srgb(--color-good)
			display: none


