.call
	font-size: 0.8em
	outline: none
	position: relative
	-webkit-tap-highlight-color: transparent
	&:after
		content: ""
		display: block
		position: absolute
		border-radius: 4em
		left: 0
		top: 0
		width: 100%
		height: 100%
		opacity: 0
		transition: all 0.5s
		box-shadow: 0 0 10px 40px rgba(var(--neutral-grad-2), .4)


	&:active:after
		box-shadow: 0 0 0 0 rgba(var(--neutral-grad-2), .4)
		position: absolute
		border-radius: 4em
		left: 0
		top: 0
		opacity: 1
		transition: 0s

	&.disabled
		color: srgb(--neutral-grad-1)
		cursor: not-allowed
		&:after
			display: none
	&.wait
		color: srgb(--color-star-yellow)
		cursor: not-allowed
		&:after
			display: none

.nameWrapper
	display: flex
	align-items: center
	justify-content: center
.roomMuted
	margin-left: 0.5 * $r
	color: srgb(--neutral-grad-4)
	i
		font-size: 0.8em

.editButton
	display: flex
	justify-content: center
	align-items: center

	i
		font-size: 1.5em

.nameline
	overflow: hidden
	white-space: nowrap
	text-overflow: ellipsis

/deep/
	.nameline
		max-width: 250px
		overflow: hidden
		white-space: nowrap
		text-overflow: ellipsis

/deep/
	#topheader
		&.minimized
			&.fix
				background: transparent
				overflow: inherit

/deep/
	#search
		padding-left: $r
		padding-right:  $r

.donationModalBody
	padding: 1em
	display: flex
	flex-direction: column

	span
		color: srgb(--color-txt-ac)

	input,
	select
		margin-top: 0.5em
		margin-bottom: 1.5em
		border: 1px solid srgb(--color-txt-ac)
		border-radius: 3px
		padding: .5em

		&.disabled
			color: srgb(--neutral-grad-2)
			border: 1px solid srgba(--neutral-grad-2, 0.5)

	button
		margin-top: 1em

		i
			margin-right: .2em

	.totalAmount
		font-weight: bold
		margin-left: .5em
		margin-top: .5em
		margin-bottom: 1em

	.error
		color: srgb(--color-bad)
		text-align: center

	.linepreloader
		text-align: center
		height: 29px
		margin-top: 1em

#simpleSearch
	.matches
		display: flex
		align-items: center
		height: 100%
		span,
		i
			font-size: 0.8em
			padding : $r

		i
			cursor: pointer

			&:hover
				color : srgb(--color-txt-ac)

.encrypted
	z-index: 2
	color: srgb(--color-good)
	padding: $r / 2 $r

	i
		font-size: 0.8em
		cursor: pointer

.encryptedInfo
	cursor: default
	margin-left: -25px
	position: absolute
	top: 50%
	transform: translateY(-50%)
	z-index: 9999
	display: flex
	justify-content: center
	align-items: center
	flex-direction: column
	#slide
		border-radius: 8px
		padding: 0 $r
		position: absolute
		left: 0
		background: $color-bg-clear
		-webkit-animation: slide 0.1s forwards
		-webkit-animation-delay: .3s
		animation: slide 0.1s forwards
		animation-delay: .3s
		+shadowSmaller()

	@-webkit-keyframes slide
		100%
		left: 0px
	@keyframes slide
		100%
			left: 0px

	button
		cursor: pointer
		display: flex
		align-items: center
		justify-content: flex-start
		text-align: left
		i
			margin-right: 5px

	.encryptedTxtIcon
		flex-direction: column
		align-items: center
		justify-content: center
		padding: $r / 2 $r / 2
		text-align: center
		span
			color: srgb(--color-good)
			font-size: 0.8em
		i
			color: srgb(--color-good)
			display: none


