.modal-backdrop
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background: srgba(--color-shadow-base, 0.85)
    display: block
    justify-content: center
    align-items: center
    opacity: 1
    display: flex
    align-items: center
@media (pointer:fine)
    .modal-backdrop
        cursor: pointer
        +transition(0.3s)

        &:hover
            background: srgba(--color-shadow-base, 0.80)

#modal
    position: fixed
    left: 0
    top: 0
    bottom: 0
    right: 0
    z-index: 2023

    .notificationWrapper
        padding: $r
        padding-left: 0
        padding-right: 0
        position: absolute
        left: 50%
        right: 0
        top: 0
        z-index: 10000
        max-width: 640px
        margin-left: -320px
        .notificaion
            +shadowSmaller()

    .modal-body
        padding-bottom: var(--keyboardheight)

    .swipable
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 0

    &.hasnotification
        .modal-wrapper
            top: 100px

    &.small
        .modal-body
            padding-bottom: 0
        .swipable
            position: static
        .modal-wrapper
            top: auto
            max-height: 90vh

            .modal
                max-height: 90vh
                position: static

    &.likelabel

        top: auto

        .modal-wrapper
            padding-bottom: 0

        .modal-body
            padding-bottom: 0

        .modal
            background: srgb(--color-bg-ac-bright)
            padding: 2 * $r
            color: srgb(--text-on-bg-ac-color)
            text-align: center

        .modal-header
            position: absolute
            background: transparent
            left: auto

        .modal-close
            color: srgb(--text-on-bg-ac-color)
        .modal-backdrop
            display: none

    &.likemenu

        .modal-header
            display: none

        .modal
            border-top-left-radius: 22px
            border-top-right-radius: 22px

        .modal-body
            padding: 2 * $r
            padding-bottom: calc(var(--keyboardheight, 0))

            >div
                padding-bottom: 2 * $r

    &.withoutheader
        .modal-header
            display: none

    .stickedTop
        top: 0

    &.absoluteContent
        .modal-header
            position: absolute

        .modal-body
            position: absolute
            left: 0
            bottom: 0
            right: 0
            top: 55px

        .absmodal
            width: 100%
            height: 100%

    &.fastmenu
        .modal-backdrop
            background: srgba(--color-shadow-base, 0.95)
        .modal-wrapper
            top: 0
        .closecsscross
            display: none
        .modal-body
            top: 0
        .modal
            border-radius: 0
            background: transparent
            color: srgba(--text-on-bg-shadow-color, 0.7)

    &.cover
        .modal-close
            margin-right: $r
        .modal-header
            height: 84px
            align-items: center
            margin-top: 2 * $r
            .headerWrapper
                span
                    font-size: 2em
        .modal-wrapper
            top: 0
        .modal
            border-radius: 0

    &.topsearching
        .modal-body
            padding-bottom: 0
        .swipable
            position: static

        .headerWrapper
            margin: 0 auto
            padding: 0
            span
                font-size: 0.8em
                font-weight: 400

        .modal-close
            display: none

        .modal-wrapper
            top: 0
            bottom: auto
            max-height: 90vh

            .modal
                padding-top: 8 * $r
                padding-bottom: 5px
                max-height: 90vh
                position: static
                border-radius: 0
                border: 0
                border-bottom-left-radius: 20px
                border-bottom-right-radius: 20px
                border-bottom: 1px solid srgba(--neutral-grad-3, 0.2)


#modal
    &.minimized
        .modal-wrapper
            top : -30px
            left : auto
            right : 0
            width : 344px
            position: fixed
            z-index: 2023222
            border-bottom : 0

        .modal-backdrop
            left : auto
            border-radius: 8px
            top : -60px
            right : 0
            width : 344px
            position: fixed

        .modal
            &::-webkit-scrollbar
                width: 0!important

        &.bin
            display: none

            &.active
                display: block

            .modal-backdrop,
            .modal-wrapper
                position: absolute

        &.small
            .modal-wrapper
                top: auto

.modal-wrapper
    position: absolute
    left: 50%
    margin-left: -320px
    right: 0
    top: 7%
    bottom: 0
    overflow: hidden
    max-width: 640px

.modal
    border-top-left-radius: 10px
    border-top-right-radius: 10px
    border-top: 1px solid srgba(--neutral-grad-3, 0.2)
    background: srgb(--background-total-theme)
    overflow-x: hidden

    margin: 0 auto
    +shadowSmall()
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    overscroll-behavior: contain

.modal-close
    margin-left: auto
    padding: 2 * $r
    width: 50px
    text-align: center
    color: srgb(--neutral-grad-4)
    cursor: pointer
    z-index: 1

    &:hover
        color: srgb(--text-color)

.modal-header,
.modal-footer
    display: flex

    margin: 0 auto

.modal-header
    color: srgb(--text-color)
    justify-content: space-between
    font-weight: 700
    position: sticky
    display: flex
    justify-content: space-between
    left: 0
    top: 0
    right: 0
    z-index: 10
    background: srgb(--background-total-theme)

    .headerWrapper
        padding: 2 * $r

.modal-footer
    justify-content: flex-end

.mwork
    padding: 2 * $r 2 * $r

.modal-body
    padding: 0

.eff
    text-align: center
    color: srgb(--color-txt-ac)
    width: 100%

    i
        font-size: 0.2em

.btn-close
    border: none
    padding: 2 * $r
    cursor: pointer
    font-weight: bold
    color: srgb(--neutral-grad-4)
    background: transparent

.btn-success
    color: white
    background: srgb(--color-bg-ac)
    border: 1px solid srgb(--color-bg-ac)

@media only screen and (max-width: 768px)

    .modal-wrapper
        left: 0
        margin-left: 0
        max-width: none

    .modal
        min-width: 0
        width: 100%
        height: 100%

        #topheader
            padding-top: 0!important

    .modal-footer
        position: absolute
        bottom: 0
        right: 0
        left: 0

    #modal
        .notificationWrapper
            left: 0
            padding-left: $r
            padding-right: $r
            max-width: none
            margin-left: 0
        &.hasnotification
            .modal-wrapper
                left: $r
                bottom: $r
                right: $r
                border-radius: 24px

.separator
    width: 5px
